name: Build with Vulkan and CMake

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      
    - name: Install Vulkan SDK
      run: |
        sudo add-apt-repository ppa:oibaf/graphics-drivers
        sudo apt update
        sudo apt upgrade
        sudo apt install -y vulkan-utils libvulkan1 make cmake mesa-vulkan-drivers

    - name: Configure and build with CMake
      run: |
        mkdir build
        cd build
        cmake ..
        make
